.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.title {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}
.price {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: 2px dotted #999;
}
.price span {
  font-weight: bold;
}

.pizzaOrder {
  margin-top: 2rem;
  text-align: right;
}
.pizzaOrderBtn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: none;
  background: #e74c3c;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.pizzaOrderBtn:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}
.pizzaOrderBtn:not(:disabled) {
  will-change: transform;
  animation: enable .5s forwards 2;
}

@keyframes enable {
  0%,100% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
}